.comics{
  height: 650px;
  background-color: $dark;
  button.btn-jumbo{
    width: 200px;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: $primary;
    color: $white;
    font-size: 17px;
    border: none;
    position: relative;
    bottom: 20px;
  }
}
