@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-bet-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-around-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-bet {
  display: flex;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
