nav.navbar{
  @include flex-bet-center;
  height: 150px;
  ul{
    display: flex;
    li a{
      color: $navbar;
      text-transform: uppercase;
      padding: 0 10px;
      &:hover{
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }
  }
  input{
    border: none;
    &:focus{
      border: none;
    }
  }
}
