nav.navbar{
  @include flex-bet-center;
  height: 150px;
  ul{
    display: flex;
    li a{
      color: $dark;
      text-transform: uppercase;
      padding: 0 12px;
      &:hover{
        color: $primary;
        border-bottom: 3px solid $primary;
      }
    }
  }
  .search{
    input{
      border: none;
      border-bottom: 3px solid $primary;
      &:focus{
        outline:none;
      }
    }
    i{
      position: relative;
      right: 30px;
    }
  }
}
